.custom-section {
  background-color: rgba(#E5B13C, .2);
  padding-bottom: 100px;
}

.custom-container {
  padding-top: 30px !important;
  padding-left: 15px;
  padding-right: 15px;

  .swiper-container {
    padding-bottom: 35px;
  }
}

.custom-card {
  @include flex(center, center);
  width: 300px;
  padding: 20px;
  margin-bottom: 20px;

  @include sm {
    flex-direction: column;
  }

  .custom__head-block {
    @include flex(flex-start, center);

    img {
      width: 50px;
      height: 50px;
      border-radius: 6px;
      margin-right: 15px;
    }

    .title {
      font-size: 1em !important;
      line-height: 1.5em !important;
    }

    .subtitle {
      font-size: .8em !important;
      font-weight: 600;
      color: #9A9A9A;
      margin-bottom: 0;
    }
  }

  .custom-package {
    font-size: .8em;
    color: #9A9A9A;
    margin: 10px auto;
    line-height: 1.25em;
  }

  .custom-word {
    margin-bottom: 0;
    font-size: 1em;
  }
}
